<div class="jumbotron">
	<h1>Project Planning Assistant</h1>
</div>

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My account <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Login</a></li>
    <li><a href="#">New Team Member</a></li>
    <li><a href="#">New Team Leader</a></li>
	<li><a href="#">New Admin</a></li>
  </ul>
</div>