<div class="jumbotron">
	<h1>Project Planning Assistant</h1>
</div>

<% if user_signed_in? %>
    <% if current_user.role == "Team Member" %>
      <h1>You are a team member</h1>
    <% elsif current_user.role == "Team Leader" %>
      <h1>You are a team leader</h1>
    <% elsif current_user.role == "Admin"%>
      <h1>You are an admin</h1>
    <% else %>
      <h1>Im confused</h1>
    <% end %>
<% else %>
  <h1>You are not signed in</h1>
<% end %>


<%= link_to 'New Admin table', admin_tables_path %>
</br>
<%= link_to 'Edit Leader table', leader_tables_path %>